.item {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  min-width: 320px;
  /* background-color: #4FE24A; */
  height: 416px;
  overflow: hidden;
  /* border: 1px solid red; */
}

.item img {
  object-fit: cover;
}

.item .actions {
  position: absolute;
  left: 48px;
  bottom: 54px;
  text-align: left;
  z-index: 5;
}

.item .actions .title {
  font-weight: 800;
  font-size: 40px;
  color: #fff;
}

.item .actions .category-button {
  width: 102px;
  height: 38px;
  background-color: #fff;
  border-radius: 14px;
  border-style: none;
  color: #391400;
  font-size: 16px;
  margin-bottom: 37px;
  cursor: pointer;
}

.category-button:hover {
  box-shadow: 0 2px #666;
}

.category-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.selected {
  outline: 6px solid #4fe24a;
}

@media screen and (max-width: 1040px) {
  .item {
    width: 340px;
  }
}
